@charset "UTF-8";

/* Aparelho deitado (Landscape) */

body{
    background: url('../imagens/cev-landscape.jpg');
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}