@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgba(215, 247, 214, 0.795);
}

h1{
    color: rgb(4, 109, 0);;
}

h1#principal{
    text-align: center;
    background-color: rgb(115, 172, 115);
    color: white;
}

h2{
    color: rgb(73, 109, 71);;
}

.basico{
    color: #05a705;
}

.intermediário{
    color: #81810f;
}

.avançado{
    color: #b30404;
}

.destaque{
    background-color: rgba(253, 253, 162, 0.719);
}