@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: grey;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header h1{  
    align-self: center;
    flex: 0 0 200px;
}

header nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav> a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav> a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s, color .4s;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.493);
}